[submodule "parlaylib"]
	path = parlaylib
	url = git@github.com:cmuparlay/parlaylib.git
[submodule "PAM"]
	path = PAM
	url = git@github.com:cmuparlay/PAM.git
[submodule "gflags"]
	path = gflags
	url = git@github.com:gflags/gflags.git
